/*--------------- Colores ----------- */

$a-verde:#A2D45E;
$a-rojo:#E43D30;
$a-azul:#5EB3E4;
$a-rosa:#F89ABA;
$a-naranja:#FF9E18;
$a-blanco:#FFFFFF;
$a-oro:#FCDF51;
$a-plata:#B3B3B3;
$a-bronce:#FF9E18;
$a-gris:#818182;
$a-amarillo:#FFCD00;

/*---------------- Fonts------------- */

$r-black: 'robotoblack';
$r-blackitalic: 'robotoblack_italic';
$r-bold: 'robotobold';
$r-bolditalic: 'robotobold_italic';
$r-italic: 'robotoitalic';
$r-light: 'robotolight';
$r-medium: 'robotomedium';
$r-mediumitalic: 'robotomedium_italic';
$r-regular: 'robotoregular';
$r-thin: 'robotothin';
$r-thinitalic: 'robotothin_italic';